@charset "utf-8";
/**
 * Základní vzhled appletu.
 * Tomáš MOLINARI 2018
 */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
html, body{
    width: 100%;
    height: 100%;
    font-size: 0;
}
canvas{
    border: none;
    height: calc(100% - 35px);
    background-color: #303030;
    width: 100%;
    background-image: url('grid.jpg');
    background-position: left center;
}
footer{
    background-color: #2c2c2c;
    height: 35px;
    font-size: 12px;
    color: #e0e0e0;
}
div.input{
    display: inline-block;
    padding: 6px 10px 0 10px;
}
div.input label, div.input input{
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}